[Unit]
Description=BYOB Server - Open Source 
After=network.target

[Service]
User=byob
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/byob/byob/web-gui
ExecStart=sh /opt/byob/byob/web-gui/startup.sh
ExecStop=sudo pkill byob-server.service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
