[Unit]
Description=BYOB Server - Open Source
After=network.target

[Service]
User=byob
Group=byob
WorkingDirectory=/home/byob/byob/web-gui/docker-pyinstaller1
ExecStart=sh /home/byob/byob/web-gui/startup.sh > /home/pi/bootspool.log
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
