[Unit]
Description=BYOB Server - Open Source
After=network.target

[Service]
User=REPLACE_THIS_USERNAME
WorkingDirectory=/home/REPLACE_THIS_USERNAME/byob/web-gui/
ExecStart=python3 /home/REPLACE_THIS_USERNAME/byob/web-gui/run.py
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
