[Unit]
Description=BYOB Server - Open Source 
After=network.target

[Service]
Type=simple
User=byob
Group=byob
WorkingDirectory=/opt/byob/
ExecStart=./opt/byob/byob/web-gui/startup.sh
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
