[Unit]
Description=BYOB Server - Open Source
After=network.target

[Service]
User=REPLACE_THIS_USERNAME
WorkingDirectory=/home/REPLACE_THIS_USERNAME/byob/web-gui/
ExecStart=SHELL_DIR /home/REPLACE_THIS_USERNAME/byob/web-gui/service.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
