[Unit]
Description=BYOB Server - Open Source
After=network.target

[Service]
User=$usrname
WorkingDirectory=$vrlFilesDir
ExecStart=$shell $byobFileDir/web-gui/service.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target